{{ partial "header.html" . }}

    <!-- Page Header -->
    <header class="intro-header"
	    {{ if .Site.Params.image.home }}
	    style="background-image: url('{{ "/img" | relURL }}/{{ .Site.Params.image.home }}')"
	    {{ else }}
	    style="background-image: url('{{ "/img" | relURL }}/home-bg.jpg')"
	    {{ end }}
	    >
        {{ partial "header-title-node.html" .}}
    </header>

{{ partial "body-list-pages.html" . }}
{{ partial "footer.html" . }}
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
