{{ partial "header.html" . }}

    <!-- Taxonomy Page Header -->
    <header class="intro-header"
	    style="background-image: url('{{ .Site.BaseURL }}/img/home-bg.jpg')">
	<div class="container">
	    <div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		    <div class="site-heading">
			{{ partial "title-header-taxonomy.html" . }}
		    </div>
		</div>
	    </div>
	</div>
    </header>

{{ partial "body-list-pages.html" . }}
{{ partial "footer.html" . }}
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
