{{ partial "header.html" . }}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header"
            {{ if isset .Params "image" }}
            style="background-image: url('{{ "/img" | relURL }}/{{ .Params.image }}')"
            {{ else if .Site.Params.image.about }}
            style="background-image: url('{{ "/img" | relURL }}/{{ .Site.Params.image.about }}')"
            {{ else }}
            style="background-image: url('{{ "/img" | relURL }}/about-bg.jpg')"
            {{ end }}
            >
	{{ partial "header-title-about.html" .}}
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {{ .Content }}
            </div>
        </div>
    </div>


{{ partial "footer.html" . }}
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
