    <!-- Main Content -->
    <div class="container">
	<div class="row">
	    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		{{ range first 4 (where .Data.Pages "Type" "post") }}
		{{ .Render "summary"}}
		{{ end }}
	        {{ if lt 4 (len (where .Data.Pages "Type" "post")) }}
		<!-- Pager -->
		<ul class="pager">
		    <li class="next">
			<a href="{{ "/post" | relURL }}/">More &rarr;</a>
		    </li>
		</ul>
		{{ end }}
	    </div>
	</div>
    </div>
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
