            <!-- List Entry Item (minor, small layout) -->
            {{ if and .Params.author (not (in .Params.suppress "author")) }}
	    by <a href="#">{{ .Params.author }}</a>
	    {{ if not (in .Params.suppress "date") }}
	    on
	    {{ else }}
	    <br />
	    {{ end }}
	    {{ end }}
	    {{ if not (in .Params.suppress "date") }}
	    {{ dateFormat .Site.Params.DateForm .Date }}
	    <br />
	    {{ end }}
	    {{ if and .Params.categories (not (in .Params.suppress "categories")) }}
	    {{ partial "entry-item-category.html" . }}
	    {{ end }}
	    {{ if and .Params.tags (not (in .Params.suppress "tags")) }}
	    {{ partial "entry-item-tag.html" . }}
	    {{ end }}
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
