	    {{ if .Params.author }}
	    {{ if not (in .Params.suppress "author") }}
	    by <a href="#">{{ .Params.author }}</a>
	    {{ if not (in .Params.suppress "date") }}
	    on
	    {{ else }}
	    <br />
	    {{ end }}
	    {{ end }}
	    {{ end }}
	    {{ if not (in .Params.suppress "date") }}
	    {{ dateFormat .Site.Params.DateForm .Date }}
	    <br />
	    {{ end }}
	    {{ if .Params.categories }}
	    {{ if not (in .Params.suppress "categories") }}
	    {{ partial "entry-item-category.html" . }}
	    {{ end }}
	    {{ end }}
	    {{ if .Params.tags }}
	    {{ if not (in .Params.suppress "tags") }}
	    {{ partial "entry-item-tag.html" . }}
	    {{ end }}
	    {{ end }}
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
