    {{ partial "footer-comments.html" . }}
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ partial "footer-socials.html" . }}
                    {{ partial "footer-copyright.html" . }}
                </div>
            </div>
        </div>
    </footer>

    {{ partial "footer-scripts.html" . }}
</body>
</html>
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
