    <!-- jQuery -->
    <script src="{{ "/js" | relURL }}/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js" | relURL }}/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript (global config) -->
    {{ if .Site.Params.script }}
    {{ range .Site.Params.script }}
    <script src="{{ "/js" | relURL }}/{{ .name }}.js"></script>
    {{ end }}
    {{ else }}
    <script src="{{ "/js" | relURL }}/clean-blog.min.js"></script>
    {{ end }}

    <!-- Custom Theme JavaScript (local config) -->
    {{ range $name := .Params.script }}
    <script src="{{ "/js" | relURL }}/{{ $name }}.js"></script>
    {{ end }}

    {{ if isset .Site.Params "Ganalytics" }}
    {{ partial "footer-ga.html" . }}
    {{ end }}
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
