    {{ if and .Site.Params.Debate .Params.debateid }}
    <div class="container">
        <div class="row">
            <div id="disqus_thread"
                class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <noscript>
                    <table border="1"><tr><td>
                        Please enable JavaScript if you like to take part
                        in the discussion.<br>This functionality will be
                        externally provided by <a
                        href="//en.wikipedia.org/wiki/Disqus"
                        rel="nofollow">DISQUS</a>.
                    </tr></tr></table>
                </noscript>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var disqus_shortname  = '{{ .Site.Params.Debate }}';
    var disqus_identifier = '{{ .Params.debateid }}';
    </script>
    {{ end }}
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
