	<div class="container">
            <div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		    <div class="post-heading">
                        {{ if .Title }}
			<h1>{{ title .Title }}</h1>
                        {{ end }}
                        {{ if .Description }}
			<h2 class="subheading">{{ title .Description }}</h2>
                        {{ end }}
			<span class="meta">
			    {{ partial "entry-list-major.html" . }}
			</span>
		    </div>
		</div>
            </div>
	</div>
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
