        <!-- Taxonomy page title w/bracketed title -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        {{ if .Title }}
                        <h1>[{{ .Site.Title }}]</h1>
                        {{ if .Description }}
                        <hr class="small">
                        {{ end }}
                        {{ end }}
                        {{ if .Description }}
                        <span class="subheading">{{ title .Description }}</span>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
{{/*
Local Variables:
mode: web
comment-column: 0
comment-start: "{{/*"
End:
*/}}
